body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #181A1B;
}

p{
    color: white;
    margin: 0;
}

#equation {
    text-align: center;
    font-size:80px;
}

#userItems{
    text-align: center;
}

#question{
    font-size:20px;
    color: darkgrey;
    padding-top: 10%;
    text-align: center;
}

input{
    margin-top: 5%;
    padding: 12px 20px;
    border-radius: 25px;
    border: 3px solid ;
    border-color: white;
    outline: none;
    background-color: #181A1a;
    color:white;
}

#confirm{
    margin-top: 5%;
    background-color: #2879ec; 
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#confirm:active{
    background-color: #498CEB;
}

#key{
    margin-top: 5%;
    background-color: #181A1a; 
    
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#key:active{
    background-color: #303434;
}

@media (max-width: 600px)
{
    #equation{
        font-size: 64px;
    }
}